*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    height: 30px;
    background-color: orange;
}

ul{
    width: 1200px;
    height: 30px;
    margin: 0 auto;
}

li{
    display: inline;
    padding: 5px 29px;
    /* border: 1px solid black; */
    /* width: 100px; */
    list-style: none;
    /* float: left; */
    line-height: 30px;
    text-align: center;
    color: white;
}

/* .clearfix::after{
    content: "";
    display: block;
    clear: both;
} */

