*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

.container{
    width: 100%;
    background-color: orange;
    position: fixed;
}

.menu{
    width: 1200px;
    margin: 0 auto;
}

li{
    width: 100px;
    list-style: none;
    float: left;
    line-height: 30px;
    text-align: center;
    color: white;
    height: 30px;
    background-color: gray;
    position: relative;
    
}
.sub-menu{
    position: absolute;
    display: none;

}

.menu li:hover > .sub-menu{
    display: block;
}

.menu li:hover{
    color: #000;
    cursor: pointer;
}

.sub-sub-menu{
    left: 100px;
    top: 0;
}



/* .clearfix::after{
    content: "";
    display: block;
    clear: both;
} */

